body {
  font-family: "Noto Sans", "IBM Plex Sans", Veranda, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

nav {
  background: #333;
  font-color: white;
  width: 260px;
  position: fixed;
  overflow: scroll;
  top: 0px; left: 0px;
  padding: 15px;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
}
