body {
  font-family: "Noto Sans", "IBM Plex Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

nav {
  background: #333;
  font-color: white;
  width: 280px;
  overflow: scroll;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  max-height: none;
  overflow: hidden;
  padding-left: 1.5em;
  transition: max-height 0.2s ease-out;
}

.navbar {
  padding: 8px;
}

.content {
  margin-left: 280px;
  padding: 15px;
}

.collapser {
  cursor: pointer;
}

#next {
  margin-left: 280px;
  padding: 15px;
  position: absolute;
  right: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
